pipeline/Task_Get_Template_Details.json
{
	"name": "Task_Get_Template_Details",
	"properties": {
		"activities": [
			{
				"name": "SP_Get_Template_Details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ctl].[sp_get_extract]"
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_Sql_Db",
					"type": "LinkedServiceReference",
					"parameters": {
						"db_name": "control_db"
					}
				}
			},
			{
				"name": "ForEach_From_Template_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SP_Get_Template_Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SP_Get_Template_Details').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_Variable_Process_Name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Process_Name",
								"value": ""
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Db_Name": {
				"type": "string",
				"defaultValue": "control_db"
			}
		},
		"variables": {
			"Process_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Task"
		},
		"annotations": []
	}
}